extends layout

block layout-content
  div.View
  div.View.WelcomeView
    h1.Banner Unaffiliated Studios
    div.Message
      div.Title
        h3 Being Unaffiliated
        h1 All the Time
      span.Details Login
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!